DemoBlogLibrarayFlow/Microsoft.Flow/flows/5d6b308c-ca24-446a-be5d-9e01180b52c4/definition.json
{"name":"74de4578-29a0-438a-9492-8cd5cdd56938","id":"/providers/Microsoft.Flow/flows/74de4578-29a0-438a-9492-8cd5cdd56938","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DemoBlogLibraryFlow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b1f93f8d-36ae-473e-9797-4fbfbbb893c6","type":"User","tenantId":"a295f517-81bd-4bf2-9f72-18df0e87443b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-15T15:43:31.66349Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"87b1879f-3dae-479c-8e17-ecf3bf768b41"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"PromptVariable_Value":{"type":"any"}},"required":["PromptVariable_Value"]}}}},"actions":{"API-Key_Variable":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b3d1a33f-f102-4665-b6ce-d9605ebd8461"},"type":"InitializeVariable","inputs":{"variables":[{"name":"api-key","type":"string","value":"enteryourapikeyshere"}]}},"Open_AI_Post_Call":{"runAfter":{"API-Key_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"1216fe3d-fe50-44a3-9f76-942dc488081c"},"type":"Http","inputs":{"method":"POST","uri":"https://ah-demo-open-ai.openai.azure.com/openai/deployments/text-davinci-003/completions?api-version=2022-12-01","headers":{"api-key":"@variables('api-key')","Content-Type":"application/json"},"body":{"max_tokens":1024,"prompt":"@variables('varUrl')","temperature":0.2}}},"Parse_API_Output":{"runAfter":{"Open_AI_Post_Call":["Succeeded"]},"metadata":{"operationMetadataId":"d4204df6-a4e8-4c05-b2a4-04ff01166002"},"type":"ParseJson","inputs":{"content":"@body('Open_AI_Post_Call')","schema":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string"},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"logprobs":{},"finish_reason":{"type":"string"}},"required":["text","index","logprobs","finish_reason"]}}}}}},"Compose":{"runAfter":{"Parse_API_Output":["Succeeded"]},"metadata":{"operationMetadataId":"3d86cf8e-18e3-494c-baf6-35be7193b68a"},"type":"Compose","inputs":"@body('Parse_API_Output')?['choices'][0].text"},"Parse_Output_JSON":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"e8c0eaa7-0a73-4e2d-9953-6f9b37eab601"},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"object","properties":{"Subject Line":{"type":"string"},"Date of Publication":{"type":"string"},"Blogger":{"type":"string"},"Publisher":{"type":"string"},"Category":{"type":"string"},"Summary":{"type":"string"}}}}},"Initialize_Blog_Title_Variable":{"runAfter":{"Parse_Output_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"17327a35-774c-4864-8384-d42dd7aef4cc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBlogTitle","type":"string","value":"@body('Parse_Output_JSON')?['Subject Line']"}]}},"Initialize_Blog_Date_Variable":{"runAfter":{"Initialize_Blog_Title_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"3e442e18-0bae-41eb-8c13-25364cf18ba8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBlogDate","type":"string","value":"@body('Parse_Output_JSON')?['Date of Publication']"}]}},"Initialize_Blogger_Name_Variable":{"runAfter":{"Initialize_Blog_Date_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"3808a325-7bd9-4698-8715-35756170d832"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBloggerName","type":"string","value":"@body('Parse_Output_JSON')?['Blogger']"}]}},"Initialize_Publisher_Name_Variable":{"runAfter":{"Initialize_Blogger_Name_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"79d5a496-cb33-46ba-9e7b-24d905d4850a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPublisher","type":"string","value":"@body('Parse_Output_JSON')?['Publisher']"}]}},"Initialize_Category_Variable":{"runAfter":{"Initialize_Publisher_Name_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"4797d26b-b032-4195-9411-e2977560d753"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCategory","type":"string","value":"@body('Parse_Output_JSON')?['Category']"}]}},"Initialize_Summary_Variable":{"runAfter":{"Initialize_Category_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"080820d6-7f1f-419d-9867-02bbcfdcd6ed"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSummary","type":"string","value":"@body('Parse_Output_JSON')?['Summary']"}]}},"Create_item":{"runAfter":{"Initialize_Summary_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"28be258b-a2a4-4dd6-adbd-c318de66b2c3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://mngenvmcap250094.sharepoint.com/sites/DemoSite","table":"6495e765-90f1-4c67-bc81-519ee729a595","item/Title":"@variables('varBlogTitle')","item/field_1":"@variables('varBlogDate')","item/field_2":"@variables('varBloggerName')","item/field_3":"@variables('varPublisher')","item/field_4":"@variables('varCategory')","item/field_5":"@variables('varSummary')","item/URL":"@triggerBody()['PromptVariable_Value']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"3c17f5ca-6ac2-405b-ab17-589d4aa8b774"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varUrl","type":"string","value":"List the subject line, date of publication, blogger, publisher, category and summary in json format of the blog in the following url:  @{triggerBody()['PromptVariable_Value']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"e9ddbdedb14641ca8c1c3272cf27c7fe","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}